[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=sudo /usr/bin/kano-launcher /usr/bin/kano-settings
Icon=kano-settings
Terminal=false
Name=Settings
Name[zh_TW]=設定
Comment=Kano system settings
Comment[zh_TW]=Kano 系統設定
Categories=tools;
