[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=sudo kano-updater install --gui
Icon=kano-updater
Terminal=false
Name=Updater
Name[zh_TW]=更新
Comment=Updater
Comment[zh_TW]=更新
Categories=others;
