[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=kano-tracker-ctl session run 'files' 'pcmanfm'
Icon=files-app
Terminal=false
Name=Files
Name[zh_TW]=檔案總管
Comment=Explore the files on your computer
Comment[zh_TW]=瀏覽電腦中的檔案
Categories=tools;
