[Desktop Entry]
Encoding=UTF-8
Type=Directory
Icon=terminal-app
Name=Code
Name[zh_TW]={{ Kano_Menu_Code }}
Name[es_AR]=Programación
Comment=Apps for coding
Comment[zh_TW]={{ Kano_Menu_Code }}
Comment[es_AR]=Haz realidad tus ideas