[Desktop Entry]
Encoding=UTF-8
Type=Directory
Icon=feedback
Name=Others
Name[es_AR]=Otros
Name[zh_TW]={{ Kano_Menu_Others }}
Comment=Anything else
Comment[zh_TW]={{ Kano_Menu_Others }}
Comment[es_AR]=Todo lo demás