[Desktop Entry]
Encoding=UTF-8
Type=Directory
Icon=minecraft
Name=Games
Name[es_AR]=Juegos
Name[zh_TW]={{ Kano_Menu_Games }}
Comment=Time to play
Comment[zh_TW]={{ Kano_Menu_Games }}
Comment[es_AR]=¡Juguemos!