[Desktop Entry]
Encoding=UTF-8
Type=Directory
Icon=kano-settings
Name=Tools
Name[zh_TW]={{ Kano_Menu_Tools }}
Name[es_AR]=Herramientas
Comment=Various tools
Comment[zh_TW]={{ Kano_Menu_Tools }}
Comment[es_AR]=Cosas útiles