{
    "title": "檔案分享",
    "tagline": "檔案分享",
    "description": "透過QRCode，連接Droopy，並上傳檔案分享",
    "slug": "Droopy",

    "icon": "Droopy",
    "colour": "#7fa9cf",

    "categories": ["tools"],

    "packages": [],
    "dependencies": ["chromium-browser", "kano-profile"],
    "launch_command": "kano-tracker-ctl session run '/bin/bash' '/home/{{ moodlebox_username }}/go38-droopy/droopy_dashboard.sh'",
    "overrides": [],

    "priority": 670
}
