[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=kano-tracker-ctl session run '/bin/bash' '/home/{{ moodlebox_username }}/go38-droopy/droopy_dashboard.sh'
Icon=Droopy
Terminal=false
Name=droopy
Name[zh_TW]=檔案分享
Comment= File sharing 
Comment[zh_TW]=檔案分享
Categories=tools;
