[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=/usr/share/kano-desktop/icons/Droopy.png
Exec=/bin/bash /home/{{ moodlebox_username }}/go38-droopy/droopy_desktop.sh
StartupNotify=true
Name=Droopy
Name[zh_TW]=檔案分享
