{
    "title": "Droopy",
    "tagline": "File sharing",
    "description": "File sharing!",
    "slug": "droopy",

    "icon": "Droopy",
    "colour": "#7fa9cf",

    "categories": ["tools"],

    "packages": [],
    "dependencies": ["chromium-browser", "kano-profile"],
    "launch_command": "kano-tracker-ctl session run '/bin/bash' '/home/{{ moodlebox_username }}/go38-droopy/droopy_dashboard.sh'",
    "overrides": [],

    "priority": 670
}
